@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-super-ginger: #FCF5EE;
	--color-ginger: #f9e4d6;
	--color-redleather: #ad4c4e;
	--color-graphite: #62646b;
	--color-peach: #e38b75;
	--color-dark-grey: #2b2d33;
}
