@import "tailwindcss";
@source "../src/**/*.{ts,tsx}";
@plugin "@tailwindcss/typography";

@theme {
	--color-ginger: #f9e4d6;
	--color-redleather: #ad4c4e;
	--color-graphite: #62646b;
	--color-peach: #e38b75;
	--color-dark-grey: #2b2d33;
}